#capa1{
    background-color: #444;
    color: #fff;
    width: 25vw;
    height: 25vw;
    border-style: dashed;
    border-width: 5px;
    border-color: #fff;
    border: 5px solid;
    border-radius: 10%;
    border-top-color: #f00;
    border-left-width: #0f0;
    border-right-color: #9f7;
    border-bottom-color: #0f3;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

#capa2{
    background-color: #ccc;
    color: #333;
    width: 25vw;
    height: 25vw;
    border: 2px solid #fff;
    margin-top: 10px;
    overflow: auto;
}

#uno{
    background-color: #f00;
    flex-direction: column;
}

#dos{
    background-color: #0f3;
}

#tres{
    background-color: #444;
}

#cuatro{
    background-color: #ff2;
}

#uno, #dos, #tres, #cuatro{
    width: 200px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    border: 2px solid black;

}

h3{
    color: #fff;
    font-size: 55px;
    text-align: center;
    border: 5px solid;
}

body{
    background-color: #b6d6f2;
    /* background-image: url('../image/Satoru_Gojo_arrives_on_the_battlefield_29.webp'); */
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    flex-direction: column;

}